* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: blue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.headerButton {
  padding: 0 10px;
}
